.main{
    background-color:whitesmoke;
    height: 50px;
    width: 90%;
    margin-left: 50px;
}
.container{
    margin-top: 20px;
}
.one{
    background-color: #01579b;
    height: 30px;
    width: 90%;
    margin-left: 50px;
    
}
.two{
    background-color: #0277BD;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.three{
    background-color: #0288d1;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.four{
    background-color: #039be5;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.five{
    background-color: #29b6f6;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.six{
    background-color: #4FC3F7;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.seven{
    background-color:#81D4FA;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.eight{
    background-color: rgb(76, 175, 76);
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.nine{
    background-color: #ffc0cb;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.ten{
    background-color: #FFA7B6;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.eleven{
    background-color: #FF8DA1;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.twelve{
    background-color: #ff748c;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.thirteen{
    background-color: #ff5a77;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.fourteen{
    background-color: #ff3459;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}
.fifteen{
    background-color:#fc0d34 ;
    height: 30px;
    width: 90%;
    margin-left: 50px;
}